<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214066952135-8vu8eqft3j0pljiaf31jr5okbkhbdq3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214066952135-8vu8eqft3j0pljiaf31jr5okbkhbdq3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214066952135-qo9mgf9qu5rashel7u9rlj9s1te5lnpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtdGO6AI3Bh2yCbkK9Cugbw0obrkHvP70</string>
	<key>GCM_SENDER_ID</key>
	<string>214066952135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kayan.goldenBell-</string>
	<key>PROJECT_ID</key>
	<string>golden-auctions</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-auctions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214066952135:ios:220ddb4bd2897666accbe2</string>
	<key>DATABASE_URL</key>
	<string>https://golden-auctions.firebaseio.com</string>
</dict>
</plist>